*/.release
.gradle
*/.gradle/*
.settings
*/.settings/*
.classpath
*/build*/
*/bin*/
*/bin/*
*.retry
*.py[cod]
*/__pycache__/*
pytestdebug.log
*.swp
hosts-*
*/.bash_history
*_tag.txt
build
.project
.idea

